* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CUERPO*/

body {
  font-family: "Mulish", sans-serif;
}
/*HEADER*/

.navegacion {
  background-color: #00589e;
  height: 20px 20px 20px 20px;
  display: flex;
}
.navimagen {
  padding: 25px 45px 25px 25px;
  background-color: #ffff;
  border-radius: 30px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.titulocarrera {
  color: #ffff;
  margin-top: 5%;
  margin-left: 20%;
}
@media (max-width: 991px) {
  .navimagen {
    width: 30%;
  }
}

.btnverperfil {
  background-color: #ff0000;
  border-radius: 30px;
  padding: 5px 5px 5px 5px;
  color: #ffff;
  margin-top: 100%;
  margin-left: 1500%;
  width: max-content;
  outline: none;
}

.btnverperfil:hover {
  background-color: #d4152b;
  cursor: pointer;
}

/*Tarjeta de carreras*/

.container-mt4 {
  width: 10%;
}

.card-soft {
  margin-top: 5%;
  margin-left: 5%;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #00589e;
  background-color: #ffff;
}

.imgsoft {
  width: 100%;
  border-radius: 10px;
}

.btn {
  margin-left: 130px;
  margin-bottom: 5%;
}

@media (max-width: 991px) {
  .btn {
    margin-left: 35px;
  }
}

/*TITULOS DE LAS TARJETAS*/
.card-title {
  margin-top: 10px;
  text-align: center;
  color: #00589e;
}
.card-text {
  text-align: center;
}

@media (max-width: 991px) {
  .btnverperfil {
    margin-left: 600%;
    margin-top: 50%;
  }
}
