* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

form {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 0px 0px 20px #00589e;
  border-radius: 20px;
  background-color: #e2e2e2;
}

h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #00589e;
}

label,
p {
  color: #203a43;
  font-size: 17px;
  margin-bottom: 10px;
}

input {
  padding: 15px 15px;
  border: 3px solid #3c80b8;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #eef2f3;
  outline: none;

  font-size: 12px;
}

.btn1 {
  background-color: #367eb9;
  color: #ffff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn1:hover {
  background-color: #12a8d6;
}

/*si la resolución baja a 991px realiza estos cambios*/

@media (max-width: 991px) {
  body {
    padding: 30px;
  }

  form {
    width: 100%;
  }
}
