<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/LogoTC.png}" />
    <link rel="stylesheet" th:href="@{/css/styles-vistas(admin,perfil,ofertas)/Styles.css}">
    <title>Mi perfil</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img th:src="@{/images/LogoTC.png}"  alt="" width="145px" height="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          </div>
        </div>
      </nav>
    <br>
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1><p>Mi perfil</p></h1>
        </blockquote>
      </figure>

      <br>


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4  position-relative">
                <div class="card-body position-absolute top-0 start-50" id="card-body">
					<div class="form-file">
						<div class="form-file__action">
							<label for="image" class="title">Foto de publicación</label>

							<input type="file" name="image" id="image" />
						</div>
						<div class="form-file__result" id="result-image">
							<img id="img-result" alt="" />
						</div>
					</div>
                </div>    
            </div>
        
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <br>
                <h5><p>Nombre del perfil</p></h5>
            </div>


            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <br>
                <h5><p>Subir hoja de vida</p></h5>
                <br>
                <a th:href="@{/tecnopracticas/programas}"><h5><p>Ver ofertas</p></h5></a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h1>Mis postulaciones</h1>
      </div>
    </div>
    <br>
    

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

    <div>
      <input type="text" class="form-control" id="input-search" placeholder="Filtrar por empresa">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Fecha en la que se aplicó</th>
          <th scope="col">Programa</th>
          <th scope="col">Empresa</th>
          <th scope="col">Estado</th>

        </tr>
      </thead>
      <tbody id="tableB">
        <tr>
          <th scope="row">1</th>
          <td>Cristian</td>
          <td>Ramirez</td>
          <td >Septiembre 15/2023 - 9:12</td>
          <td>Desarrollo de software</td>
          <td>AWS</td>
          <td>Visto</td>
        </tr>
        
        <tr>
          <th scope="row">2</th>
          <td>Jose</td>
          <td>Morales</td>
          <td >Octubre 10/2023 - 4:12</td>
          <td>Desarrollo de software</td>
          <td>MercadoLibre</td>
          <td>No Visto</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
</div>

<script th:src="@{/js/FilterT.js}"></script>
<script th:src="@{/js/ImageF.js}"></script>
</body>
</html>