<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Verificacion</title>
    <link
      rel="shortcut icon"
      th:href="@{/images/favicon/LogoComfe.ico}"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/css/verficacion/Verificacion.css}" />
  </head>

  <body>
    <form th:action="@{/tecnopracticas/cuentas/auth/verificacion}" th:object="${verificationCode}" method="post">
      <h2>Una cosa mas</h2>

      <p id="textv" style="text-align: center">
        ingresa el codigo de verificacion que ha sido enviado a tu correo
        electronico
      </p>

      <label for="codigoverificacion"></label>
      <input type="hidden" id="codigov" th:field="*{email}" th:value="${verificationCode.email}" required />
      <input type="number" id="codigov" th:field="*{codigo}" required />

      <input type="submit" class="btn1" value="Verificar" />
      <br />
      <p style="text-align: center">
        ¿No ves el codigo? recuerda revisar la bandeja de spam
      </p>
    </form>
  </body>
</html>
