<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
    <title>Registrarse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/Png&Img/LogoComfe.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/Register/Register.css}">

</head>
<body>
    
    <form th:action="@{/tecnopracticas/cuentas/singup}" th:object="${usuario}" method="post">
        <h2>Registrate</h2>
        <!--NOMBRE-->
        <label for="nombre">Nombre completo:</label>
        <input type="text" id="nombre"  th:field="*{nombre}" required>
        <!--SEXO-->
        <label>Sexo:</label>
        <select class="tipo" id="rol"  th:field="*{sexo}">
            <option th:value="masculino">Masculino</option>
            <option th:value="femenino">Femenino</option>
            <option th:value="otro">Otro</option>
        </select>
        <!--TELEFONO-->
        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono"  th:field="*{telefono}" required>
        <!--FECHA DE NACIMIENTO-->
        <label for="fecha">Fecha de nacimiento:</label>
        <input type="date" id="fecha" th:field="*{fNacimiento}" required>
        <!--CORREO-->
        <label for="correo">Correo Institucional:</label>
        <input type="email" id="correo" th:field="*{email}" required>
        <!--CONTRASEÑA-->
        <label for="password">Contraseña:</label>
        <input type="password" id="password"  th:field="*{password}" required>
        <!--VERIFICACION CONTRASEÑA-->
        <label for="password">Verificacion de contraseña:</label>
        <input type="password" id="password"  th:field="*{passwordValid}" required>
        <!--TIPO DE USUARIO-->
        <label>Tipo de Usuario:</label>
        <select class="tipo" id="rol"  th:field="*{rol.id}">
            <option th:each="rol: ${roles}" th:value="${rol.id}" th:text="${rol.nombre}">Estudiante</option>
            
        </select>
        <input type="submit" class="btn1" value="Registrarse">
        <p class="siregistrado">¿Ya tienes cuenta? <a th:href="@{/tecnopracticas/cuentas/login}">Inicia sesión</a></p>
    </form>
    
</body>
</html>