<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="LogoTC.png" />
    <title>TecnoPracticas</title>
    

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="LogoTC.png" alt="" width="145px" height="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <span class="navbar-text">
              <a href="#">La institucion</a>&nbsp;&nbsp;
              <a href="#">Admisiones</a>&nbsp;&nbsp;
              <a href="#">Programas</a>&nbsp;&nbsp;
              <a href="#">Apoyo Financiero</a>&nbsp;&nbsp;
              <a href="#">Normatividad</a>&nbsp;&nbsp;
              <a href="Practicas.html">Practicas</a>&nbsp;&nbsp;
            </span>
          </div>
        </div>
      </nav>

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Banner1.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
          <div class="carousel-item">
            <img src="Banner2.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
          <div class="carousel-item">
            <img src="Banner3.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br>

      <div class="card">
        <div class="card-body" style="align-self: center;">
             <a href="https://tecnologicocomfenalco.edu.co/solicitudes-academicas-tecnologico-comfenalco/">Oficina Virtual</a>&nbsp;/ 
             <a href="https://campus.tecnologicocomfenalco.edu.co:11200/psp/CSPRD/EMPLOYEE/HRMS/c/UA_FRM_ADMISION_MNU.UA_ADMISION_LOGIN.GBL">Preparatorios (Derecho)</a>&nbsp;/
             <a href="https://ferrum.tecnologicocomfenalco.edu.co/ferrum/">Ferrum</a>&nbsp;/
             <a href="https://campus.tecnologicocomfenalco.edu.co:11200/psp/CSPRD/?cmd=login&languageCd=ESP&">Campus</a>&nbsp;/
             <a href="https://tecnologicocomfenalco.edu.co/horarios-estudiantes-tecnologicocomfenalco/">Horarios</a>&nbsp;/
             <a href="">Practicas</a>
        </div>
      </div>

      <br>

      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active text-center" aria-current="true">Estudiantes</a>
                <a href="#" class="list-group-item list-group-item-action text-center">Inicio</a>
                <a href="https://tecnologicocomfenalco.edu.co/citas-psicologia" class="list-group-item list-group-item-action text-center">Agenta tu cita de Psicología</a>
                <a href="https://tecnologicocomfenalco.edu.co/bienestar-cultura" class="list-group-item list-group-item-action text-center">Bienestar Universitario</a>
                <a href="https://tecnologicocomfenalco.edu.co/investigacion" class="list-group-item list-group-item-action text-center">Investigaciones</a>
                <a href="https://tecnologicocomfenalco.edu.co/biblioteca/" class="list-group-item list-group-item-action text-center">Biblioteca</a>
                <a href="https://tecnologicocomfenalco.edu.co/recursos-educativos" class="list-group-item list-group-item-action text-center">Recursos Educativos</a>
                <a href="#" class="list-group-item list-group-item-action text-center">Practicas</a>
                <a href="https://encuestasole.mineducacion.gov.co/hecaa-encuestas/login_encuestas" class="list-group-item list-group-item-action text-center">Encuesta Graduandos</a>
              </div>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="card">
              <div class="card-body">
                
                <h5><p align="center"><b>¿Necesitas ayuda?</b></p></h5>
                <p align="center">
                Contacta con nosotros mediente los sigientes canales
                <br>
                Sede "A" Barrio España
                Cr 44 D Nº 30A - 91.
                Cartagena, Colombia.
                <br>
                TELEFONO: +57(5) 6723700
                <br>
                comunicaciones@tecnologicocomfenalco.edu.co / notificacion.judicial@tecnologicocomfenalco.edu.co
                </p>
                
                <center>
                    <table border="0">
                        <tr>
                            <td colspan="3">Contacta con nosotros por nuestras redes sociales</td>
                        </tr>
                   
                        <tr align="center">
                            <td><a href="https://www.instagram.com/tecnologicocomfenalco/"> <img src="InstaL.webp" width="30px"></td></a>
                            <td><a href="https://www.facebook.com/TComfenalco"> <img src="FaceL.png" width="30px"></td></a>
                            <td><a href="https://twitter.com/tcomfenalco"> <img src="Xlog.png" width="30px"></td></a>
                        </tr>
                    </table>
                </center>
                
              </div>
            </div>
          </div>
        </div>
    </div>

</body>
</html>