<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Programas</title>
    <link
      rel="shortcut icon"
      th:href="@{/images/favicon/LogoComfe.ico}"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/css/CarrerasDisp/stylescarreras.css}" />
  </head>

  <body>
    <header>
      <div class="navegacion">
        <img th:src="@{/images/LogoHeader.png}" class="navimagen" />
        <!--Boton de ver perfil-->
        <div>
          <button id="btnperfil" class="btnverperfil">Ver Perfil</button>
        </div>
        <h4 class="titulocarrera">Programas Academicos</h4>

        <!--Boton de ver perfil-->
      </div>
    </header>

    <!--Carreras generadas apartir de la base de datos-->
    <div class="container mt-4">
      <div class="row">
        <div th:each="carrera: ${carreras}" class="col-md-4 mb-4">
          <!--TARJETA DE CARRERAS-->
          <div class="card-soft">
            <img th:src="${carrera.urlImagen}" class="imgsoft" alt="..." />
            <div class="card-body">
              <h5 class="card-title" th:text="${carrera.nombre}"></h5>
              <p class="card-text" th:text="${carrera.descripcion}"></p>
              <a
                th:href="@{/tecnopracticas/carrea/ofertas/{id} (id= ${carrera.id})}"
              >
                <button class="btn btn-primary">Ver información</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TARJETA PARA DESARROLLO DE SOFTWARE-->

    <!--TARJETA PARA INGENIERIA AMBIENTAL-->
  </body>
</html>
