*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

/*Tipo de letra */
body{
    font-family: 'Mulish', sans-serif;
    

}


/*(HEADER) */



.navimagen{
    padding: 25px 45px 25px 25px;
    background-color: #FFFF;
    border-radius: 30px;
    margin-left: 2%;
    margin-top: 2%;
    
}

    
/*contenedor de los botones de la barra de navegación*/
.navbar-brand{
    color: #FFFF;
}

.container-fluid{
    
    width: max-content;
    margin-left: 80%;
    margin-top: 10%;
    background-color: #00589e;
    position: absolute;
    border-radius: 90px;
    
}

.container-fluid>a{
    
    font-weight: 300;
    text-decoration:none;
    margin-right: 20px;

}
.navegacion{
    background-color: #00589e;
    padding-bottom: 3%;

}


.navbar-toggler{
color: #FFFF;    
}

@media (max-width: 991px){
    .navegacion{
        padding: 50px;
    }
    .container-fluid{
        margin-top: 25%;
    }


}


/*TITULO y DESCRIPCIÓN*/


.titulo{
    
    padding: 20px 20px 20px 20px;
    text-align: center;
    width:fit-content;
    margin-left: 40%;
    position: absolute;  
    margin-top: 10%;
}

.descripción{
    color:#00589e;
    padding: 20px 20px 20px 20px;
    text-align:left;
    width: fit-content;
    margin-left: 32%;
    margin-top: 13%;
    position: absolute;

}

.imagenpracticas{
   
    padding: 20px 20px 20px 20px;
    width: 20%;
    position: absolute;
    margin-left: 14%;
    margin-top: 5%;
}

.botones{
    
    padding: 20px 20px 20px 20px;
    position: absolute;
    width: fit-content;
    margin-left: 41.2%;
    margin-top: 17%;
    
}

.boton{
   
        position: relative;
        border: 5px solid rgba(100, 100, 100, 0.1);
        width: 200px;
        height: 50px;
        font-family: 'Mulish', sans-serif;
        font-size: 100%;
        border-radius: 90px;
        cursor: pointer;
       color: #FFFF;
        background-size: 300%;
         margin-right: 30px;
        background-image: linear-gradient(to left,#00589e,#FFFF,#00589e);
        transition: 0.5s;
        display:inline-block;
        
}

.boton:hover{
    background-position: right;
    text-decoration: underline
}

@media(max-width:950px){
    .titulo{
        padding: 2px;
        margin-left: 20%;
        margin-top: 4%;
    }
    .descripción{
        padding: 2px;
        text-align: center;
        margin-left: -1%;
        margin-top: 10%;
    }
    .imagenpracticas{
        margin-top: 20%;
        margin-left: 30%;
        width: 35%;
    }
    .botones{
        padding: 5px;
        max-width: max-content;
        margin-left: 20%;
    }
    .boton{
        border-radius: 12px;
    }
}

/*INFO*/

.info{
    
    position: absolute;
    padding: 20px 20px 20px 20px;
    margin-left: 10%;
    margin-top: 30%;
    
}

.titulo1info{
    color: #00589e;
    width: fit-content;
    
}
.imginfo{
    
    position: absolute;
    margin-top: -21%;
    margin-left: -170px;
    width: 20%;
}

.titulo2info{
    position: absolute;
    color: #00589e;
    width:max-content;
    margin-left: 135%;
    margin-top: -11%;
}

.descripción2info{
    position: absolute;
    width:max-content;
    margin-left: 135%;
    margin-top: -5%;
}

.imgreunion{

    position: absolute;
    margin-top: -18%;
    margin-left: 114%;
    width: 20%;

}

@media (max-width:991px){
    .info{
        margin-top: 50%;
    }
  
    .titulo1info{
        margin-left: 20%;
    }
    .descripción1info{
        margin-left: -5%;
    }
    .imginfo{
        margin-top: 2%;
        margin-left: 30%;
    }
    .titulo2info{
        margin-top: 35%;
        margin-left: 20%;
    }
    .descripción2info{
        margin-top: 40%;
        margin-left: 1%;
        padding-bottom: 30px;
    }
    .imgreunion{
        margin-top: 50%;
        margin-left: 30%;
    }
   
}